# Explore Exercises (supplemental)

    Continue in your explore_exercises.ipynb notebook. Use the iris dataset. As always, add, commit, and push your changes.

1. Split your data into train, validate, and test samples.

2. Create a swarmplot using a melted dataframe of all your numeric variables. The x-axis should be the variable name, the y-axis the measure. Add another dimension using color to represent species. Document takeaways from this visualization.

3. Create 4 subplots (2 rows x 2 columns) of scatterplots.

    - sepal_length x sepal_width
    - petal_length x petal_width
    - sepal_area x petal_area
    - sepal_length x petal_length
    

4. What are your takeaways? Write them down :)

5. Create a heatmap of each variable layering correlation coefficient on top.

6. Create a scatter matrix visualizing the interaction of each variable.

7. Is the sepal length significantly different in virginica compared to versicolor? Run a statistical experiment to test this.

8. Make sure to include a null hypothesis, alternative hypothesis, results, and summary.

9. What is your takeaway from this statistical testing?

10. Create any other visualizations and run any other statistical tests you think will be helpful in exploring this data set.

In [10]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [11]:
from pydataset import data
df = data('iris')
df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa

### 1. Split your data into train, validate, and test samples.

In [14]:
#Split your data into train, validate, and test samples.
def train_validate_test_split(df, target, seed=123):
    '''
    This function takes in a dataframe, the name of the target variable
    (for stratification purposes), and an integer for a setting a seed
    and splits the data into train, validate and test. 
    Test is 20% of the original dataset, validate is .30*.80= 24% of the 
    original dataset, and train is .70*.80= 56% of the original dataset. 
    The function returns, in this order, train, validate and test dataframes. 
    '''
    train_validate, test = train_test_split(df, test_size=0.2, 
                                            random_state=seed, 
                                            stratify=df[target])
    train, validate = train_test_split(train_validate, test_size=0.3, 
                                       random_state=seed,
                                       stratify=train_validate[target])
    return train, validate, test

In [15]:
train, validate, test = train_validate_test_split(df, target='Species')
train.head()

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width     Species
80            5.7          2.6           3.5          1.0  versicolor
37            5.5          3.5           1.3          0.2      setosa
134           6.3          2.8           5.1          1.5   virginica
96            5.7          3.0           4.2          1.2  versicolor
19            5.7          3.8           1.7          0.3      setosa

### 2. Create a swarmplot using a melted dataframe of all your numeric variables. The x-axis should be the variable name, the y-axis the measure. Add another dimension using color to represent species. Document takeaways from this visualization.

In [16]:
df.columns=['s_length', 's_width', 'p_length', 'p_width', 'species']
df.head()

   s_length  s_width  p_length  p_width species
1       5.1      3.5       1.4      0.2  setosa
2       4.9      3.0       1.4      0.2  setosa
3       4.7      3.2       1.3      0.2  setosa
4       4.6      3.1       1.5      0.2  setosa
5       5.0      3.6       1.4      0.2  setosa